@model GoPS.Models.ServiciosAuxiliares

@{
    ViewBag.Title = "Editar Servicio Auxiliar";
}

@Html.Hidden("Permiso", "Configuraciones")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script>
        $(document).ready(function () {
            $('.validar_cambio').change(function () {

                cambio = (($('#Nombre').val() != $('#hdnNombre').val()) ||
                    ($('#ID_Afiliado').val() != $('#hdnIdAfiliado').val()) || ($('#Telefono').val() != $('#hdnTelefono').val()) || ($('#EsCelular').val() != $('#hdnEsCelular').val()));

            });
        });
    </script>
    <div class="main">
        @{Html.RenderPartial("NavBar_CatServAux", "Editar"); }
        <div class="row">
            <div class="col-lg-12">
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "No se pudo editar el registro. Por favor, corrija los campos en rojo e intente de nuevo.", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_ServicioAuxiliar)
                    @Html.HiddenFor(model => model.Fecha_Creacion)
                    @Html.HiddenFor(model => model.ID_Afiliado, htmlAttributes: new { @id = "hdnIdAfiliado" })
                    @Html.HiddenFor(model => model.Nombre, htmlAttributes: new { @id = "hdnNombre" })
                    @Html.HiddenFor(model => model.Telefono, htmlAttributes: new { @id = "hdnTelefono" })
                    @Html.HiddenFor(model => model.EsCelular, htmlAttributes: new { @id = "hdnEsCelular" })

                    <div class="form-group @(@ViewBag.MostrarAfiliados ? "show" : "hide")">
                        @Html.LabelFor(model => model.ID_Afiliado, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.DropDownList("ID_Afiliado", null, "-Seleccione-", htmlAttributes: new { @class = "form-control validar_cambio" })
                            @Html.ValidationMessageFor(model => model.ID_Afiliado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control validar_cambio" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control validar_cambio" } })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EsCelular, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.EsCelular, new { htmlAttributes = new { @class = "validar_cambio" } })
                                @Html.ValidationMessageFor(model => model.EsCelular, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-default guardar" />
                        </div>
                    </div>
                </div>
                <div>
                    <a href="~/ServiciosAuxiliares/Index" class="_Visualizacion confirmLink"><em class="fa fa-arrow-left"></em> Regresar</a>
                </div>
            </div>
        </div>
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}