@model GoPS.Models.TiposPuntosInteres

@{
    ViewBag.Title = "Eliminar Tipo de Punto de Interés";
}

@Html.Hidden("Permiso", "Configuraciones")
<div class="main">
    @{Html.RenderPartial("Breadcrumb", "Tipos de Puntos de Interés > Eliminar"); }
    <div class="row">
        <div class="col-lg-12">
            <h3>
                ¿Estás seguro de eliminar este registro? 
            </h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color div_actions">
                        <input type="submit" value="Eliminar" class="btn btn-default" /> |
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "_Visualizacion" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>