@model GoPS.Models.Modelos

@{
    ViewBag.Title = "Eliminar Modelo";
}

@Html.Hidden("Permiso", "Vehiculos")
<div class="main">
    @{Html.RenderPartial("NavBar_CatModelos", "Eliminar"); }
    <div class="row">
        <div class="col-lg-12">
            <h3> @ViewBag.Mess </h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ID_Marca)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Marcas.Nombre)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color div_actions">
                        <input type="submit" value="Eliminar" class="btn btn-default" /> |
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "_Visualizacion" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
