@model GoPS.Models.Chat

@{
    ViewBag.Title = "Ver Detalles de Chat";
}

@Html.Hidden("Permiso", "Monitoreo")
<div class="main">
    @{Html.RenderPartial("Breadcrumb", "Chats > Detalles"); }
    <div class="row">
        <div class="col-lg-12">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mensaje)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mensaje)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Es_Conductor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Es_Conductor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ID_Operador)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Operadores.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ID_Conductor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Conductores.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Despachos.Observaciones)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Despachos.Observaciones)
                    </dd>

                </dl>
            </div>
            <p class="div_actions">                
                @Html.ActionLink("Regresar", "Index", null, new { @class = "_Visualizacion" })
            </p>
        </div>        
    </div>
  
</div>