@model IEnumerable<GoPS.Models.ClientesHabituales>
@using GoPS.Helpers;
@{
    ViewBag.Title = "Clientes Habituales";
}
@Html.Hidden("Permiso", "Clientes")
<div class="main">
    @{Html.RenderPartial("NavBar_CatCliente", "Catálogo de Clientes Habituales"); }
    <div class="row">
        <div class="col-lg-12">
            <br />
            <p>
            </p>
            @if (ViewBag.Delete != null)
            {
                <p class="text-success">Registro Eliminado Exitosamente</p>
            }
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-pagination="true" data-show-refresh="false" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-sort-name="Nombre" data-sort-order="asc">
                        <thead>
                            <tr>
                                <th data-field="Nombre" data-sortable="true" data-sorter="customSorter">
                                    @Html.Label("Cliente Habitual")
                                </th>
                                <th data-field="Telefono" data-sortable="true" data-sorter="customSorter">
                                    @Html.Label("Teléfono")
                                </th>
                                <th data-field="Habilitado" data-sortable="true" data-sorter="customSorter">
                                    @Html.Label("Habilitado")
                                </th>
                                <th data-field="Fecha_Alta" data-sortable="true" data-sorter="dateSorter">
                                    @Html.Label("Fecha de Alta")
                                </th>
                                <th data-field="Fecha_Baja" data-sortable="true" data-sorter="dateSorter">
                                    @Html.Label("Fecha de Baja")
                                </th>
                                <th data-field="TiposAvisos.Nombre" data-sortable="true" data-sorter="customSorter">
                                    @Html.Label("Tipo de Aviso")
                                </th>
                                <th>@Html.Label("Acciones")</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Habilitado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha_Alta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha_Baja)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TiposAvisos.Nombre)
                                </td>
                                <td class="div_actions">
                                    @Html.EncodedActionLink("Detalles", "Details", "ClientesHabituales", new { id = item.ID_ClienteHabitual }, new { @class = "_Visualizacion" })<span class="_Visualizacion pipe"> | </span>
                                    @Html.EncodedActionLink("Eliminar", "Delete", "ClientesHabituales", new { id = item.ID_ClienteHabitual }, new { @class = "_Edicion" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
