@model GoPS.Models.Colonias

@{
    ViewBag.Title = "Editar Colonia";
}
<style type='text/css'>
    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
</style>

@Html.Hidden("Permiso", "Mapas")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script>
    $(document).ready(function () {
        $('.validar_cambio').change(function () {

            cambio = (($('#Nombre').val() != $('#hdnNombre').val())
                || ($('#Latitud').val() != $('#hdnLatitud').val())
                || ($('#Longitud').val() != $('#hdnLongitud').val())
                || ($('#ID_Estado').val() != $('#hdnID_Estado').val())
                || ($('#ID_Ciudad').val() != $('#hdnID_Ciudad').val()));
        });
    });
    </script>
    <div class="main">
        @{Html.RenderPartial("NavBar_CatColonias", "Editar"); }
        <div class="row">
            <div class="col-lg-12">
                <div id="map" style="height:300px">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-horizontal">
                    <hr />
                    @if (ViewBag.Success != null)
                    {
                        <p class="text-success">Registrado Exitosamente.</p>
                    }
                    @Html.ValidationSummary(true, "No se pudo editar el registro. Por favor, corrija los campos en rojo e intente de nuevo.", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_Colonia)
                    @Html.HiddenFor(model => model.Fecha_Creacion)

                    @Html.HiddenFor(model => model.Nombre, htmlAttributes: new { @id = "hdnNombre" })
                    @Html.HiddenFor(model => model.Latitud, htmlAttributes: new { @id = "hdnLatitud" })
                    @Html.HiddenFor(model => model.Longitud, htmlAttributes: new { @id = "hdnLongitud" })
                    @Html.HiddenFor(model => model.Ciudades.ID_Estado, htmlAttributes: new { @id = "hdnID_Estado" })
                    @Html.HiddenFor(model => model.ID_Ciudad, htmlAttributes: new { @id = "hdnID_Ciudad" })
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control validar_cambio" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Latitud, new { @class = "form-control validar_cambio" })
                            @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Longitud, new { @class = "form-control validar_cambio" })
                            @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ciudades.ID_Estado, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.DropDownList("ID_Estado", null, "-Seleccione-", htmlAttributes: new { @class = "form-control validar_cambio" })
                            @Html.ValidationMessageFor(model => model.Ciudades.ID_Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ID_Ciudad, htmlAttributes: new { @class = "control-label col-md-2 field-required" })
                        <div class="col-md-10">
                            @Html.DropDownList("ID_Ciudad", null, "-Seleccione-", htmlAttributes: new { @class = "form-control validar_cambio" })
                            @Html.ValidationMessageFor(model => model.ID_Ciudad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-default guardar" />
                        </div>
                    </div>
                </div>

                <div>
                    <a href="~/Colonias/Index" class="_Visualizacion confirmLink"><em class="fa fa-arrow-left"></em> Regresar</a>
                </div>
            </div>
        </div>
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/js/ActualizarGeografiaSelectLists.js"></script>
        <script type="text/javascript">
            var map;
            var myLatLng = { lat: 21.1378588, lng: -101.6854752 };
            var marker;
            var icon = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|2ECC71&chf=a,s,ee00FFFF';

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    scrollwheel: true,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                map.addListener('click', function (event) {
                    var lat = event.latLng.lat();
                    var lng = event.latLng.lng();
                    $('#Latitud').val(lat);
                    $('#Longitud').val(lng);
                    makeMarker(event.latLng);
                });

                var latitud = parseFloat($('#Latitud').val()) || 21.1378588;
                var longitud = parseFloat($('#Longitud').val()) || -101.6854752;
                if (latitud || longitud) {
                    myLatLng = { lat: latitud, lng: longitud };
                    makeMarker(myLatLng);
                }
            }

            function makeMarker(position) {
                if(marker != null)
                    marker.setMap(null);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    icon: icon
                });
                map.panTo(position);
            }

            function fly(latitude, longitude) {
                var position = new google.maps.LatLng(latitude, longitude);
                map.panTo(position);
                makeMarker(position);
            }

            window.onload = function () {
                var ID = $('#ID_Colonia').val();
                if (ID) {
                    $.getJSON('/Colonias/GetLatlangColony/', { ID_Colonia: ID }, function (result) {
                        if (result != null)
                            fly(result.Latitud, result.Longitud);
                    });
                }
            };
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1QcV84xOLBurOHEq1GQwTAxEiBwfGfn0&callback=initMap" async defer></script>
    }
