@model GoPS.Models.Tarifas
@using GoPS.Helpers;
@{
    ViewBag.Title = "Ver Detalles de Tarifa";
}

@Html.Hidden("Permiso", "Vehiculos")
<div class="main">
    @{Html.RenderPartial("NavBar_CatTarifas", "Detalles"); }
    <div class="row">
        <div class="col-lg-12">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ID_Afiliado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Afiliados.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tarifa_Minima)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tarifa_Minima)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio_Base)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio_Base)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio_Km)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio_Km)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio_Min)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio_Min)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Activa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Activa)
                    </dd>

                </dl>
            </div>
            <p class="div_actions">
                @Html.EncodedActionLink("Editar", "Edit", "Tarifas", new { id = Model.ID_Tarifa }, new { @class = "_Edicion" })<span class="_Edicion pipe"> | </span>
                @Html.ActionLink("Regresar", "Index", null, new { @class = "_Visualizacion" })
            </p>
        </div>
    </div>
</div>