@model IEnumerable<GoPS.Models.Conductores>
@using GoPS.Helpers;
@using GoPS.Models;
@{
    ViewBag.Title = "Selecciona Conductor";
    Layout= "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("Permiso", "Monitoreo")
<div class="main">
    @{Html.RenderPartial("NavBar_CatOperaciones", "Seleccionar Conductores"); }
    <div class="row">
        <div class="col-lg-12">
                  
            <br />
            <div class="panel panel-default">
                                
                <div class="panel-body">
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "_Visualizacion" })
                    <table data-toggle="table" data-pagination="true" data-show-refresh="false" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-sort-name="Nombre" data-sort-order="asc">
                        <thead>
                            <tr>
                                <th data-field="NombreCompleto" data-sortable="true" data-sorter="customSorter">
                                    @Html.Label("Nombre")
                                </th>
                                <th data-field="Matricula" data-sortable="true" data-sorter="customSorter" >
                                    @Html.Label("Unidad Asignada")
                                </th>                               
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        
                            @foreach (Conductores item in Model)
                            {
                                <tr>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Archivo_INE)
                                    </td>
                                    @if (item.Archivo_INE.Trim().Length==6 || item.Archivo_INE.Trim().Length == 7)
                                    {
                                    <td>
                                        @Html.EncodedActionLink("Seleccionar", "SelectConductor", "Home", new { id = item.ID_Conductor, idv = item.Archivo_INE }, new { @class = "btn-success" })
                                    </td>
                                    }                                    
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>