@model GoPS.ViewModels.RutasViewModel        
    @using GoPS.Helpers;
@{
    ViewBag.Title = "Trazado de Rutas";
}
<style type='text/css'>

   .body {
        overflow-x: hidden;
    }

    .error {
        border:2px solid red;
     }

    .table>thead>tr>th {
        height:auto;
        font-size: 11px;
    }
    #map{
        /*width:100%;*/        
        height:700px;
    }

    #container-map {
        
        display:block;
    }



    #info {
        display: block;
        position: relative;
        margin: 0px auto;
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }

    /*#info label {
        font-size:11px;
    }*/

    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }

    input[type="checkbox"] {
        line-height: normal;
        margin: 4px;
    }

    .filter-div {
        background-color: #303030;
        border-top: 1px solid #505050;
        bottom: 0;
        color: white;
        height: 30%;
        left: 0;
        padding: 10px;
        z-index: 10;
    }

    .filter-div input[type=text],
    .filter-div select
    {
        color:black;
    }

    .btnfilter {
        cursor: pointer;
    }

    #intro {
        padding-left: 30px;
        margin-top: 15px;
    }

    .rob-lowe-icon {
        border:red
    }
    
    #inputs,
    #errors,
    #directions {
        position: absolute;
        width: 33.3333%;
        max-width: 300px;
        min-width: 200px;
    }

    #inputs {
        z-index: 10;
        top: 10px;
        left: 10px;
    }

    #directions {
        z-index: 99; max-height: 91px;
        background: rgba(0,0,0,.8);
        top: 0;
        right: 15px;
        bottom: 0;
        overflow: auto;
    }

    #errors {
        z-index: 8;
        opacity: 0;
        padding: 10px;
        border-radius: 0 0 3px 3px;
        background: rgba(0,0,0,.25);
        top: 90px;
        left: 10px;
    }

    .legend {
        background: rgba(0,0,0,.8);
        border-radius: 3px;
        top: 50px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.10);
        padding: 10px;
        position: absolute;
        z-index: 1;
        font-size: 12px;
    }

    .legend h4 {
        margin: 0 0 7px 0;
        color: white;
    }

    .legend div {
        margin-top:3px;
        color: white;
    }

    .legend div img {
        margin-right:3px;
    }

    .checkBoxes {
        margin-top: 20px;
    }

    #div-table-filter {
        padding:10px;
        /*width: 20%;
        float: right;*/
        background-color: black;
        /*color: white;*/
        transition: all .25s;
        height:600px;
    }

    .datepicker {
        padding: 0px;
        border-radius: 0;
    }    

</style>

@Html.Hidden("Permiso", "Monitoreo")
<div class="main" style="overflow:no-content;">
    @{Html.RenderPartial("NavBar_CatOperaciones", "Trazado de Rutas"); }
    <div class="row table-responsive checkBoxes" style="overflow-x:hidden;">
        @using (Html.BeginForm("TrazaRuta", "Home", null, FormMethod.Post, new { @class = "form", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-lg-6 form-group @(@ViewBag.MostrarAfiliados ? "hide" : "show")">
                @Html.Hidden("lat", (object)ViewBag.lat)
                @Html.Hidden("lon", (object)ViewBag.lon)
                @Html.Label("Afiliados", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("ID_Afiliado", null, "-Seleccione-", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 form-group" style="margin-left:25px;">
                        <button type="button" class="form-control btn btn-sm btn-info" data-toggle="modal" data-target="#myModal">Unidades</button>
                        <!--Seccion Modal Unidades-->
                        <div id="myModal" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Selecciona la Unidad a consultar:</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <table data-toggle="table" data-pagination="false" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="false" data-select-item-name="toolbar1" data-sort-name="Nombre" data-sort-order="asc">
                                                            <thead>
                                                                <tr>
                                                                    <th data-field="Matricula" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Matrícula")
                                                                    </th>
                                                                    <th data-field="Flota" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Flota")
                                                                    </th>
                                                                    <th data-field="NoTransporte" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("No. Transporte Ejecutivo")
                                                                    </th>
                                                                    <th data-field="Afiliado" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Afiliado")
                                                                    </th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            @foreach (var item in Model.trazaRutaUnidades)
                                                            {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Matricula)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Flotas.Nombre)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NoTransporte)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Flotas.Afiliados.Nombre)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Seleccionar", "SelUni", "Home", new { idv = item.ID_Vehiculo > 0 ? item.ID_Vehiculo : 0 }, new { @class = "btn-success" })
                                                        </td>

                                                    </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <button type="button" class="form-control btn btn-sm btn-info" data-toggle="modal" data-target="#myModal2">Conductores</button>
                        <!--Seccion Modal Conductores-->
                        <div id="myModal2" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Selecciona el Conductor a consultar:</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <table data-toggle="table" data-pagination="false" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="false" data-select-item-name="toolbar1" data-sort-name="Nombre" data-sort-order="asc">
                                                            <thead>
                                                                <tr>
                                                                    <th data-field="NombreCompleto" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Nombre")
                                                                    </th>
                                                                    <th data-field="Matricula" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Unidad Asignada")
                                                                    </th>
                                                                    <th data-field="Flota" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Flota")
                                                                    </th>
                                                                    <th data-field="Afiliado" data-sortable="true" data-sorter="customSorter">
                                                                        @Html.Label("Afiliado")
                                                                    </th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            @foreach (var item in Model.trazaRutaConductores)
                                                            {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                                                        </td>

                                                        @{ var vehicC = item.Vehiculos_Conductores.Where(vc => vc.Activo == true).FirstOrDefault();
                                                        }
                                                        @if (!(vehicC == null))
                                                        {
                                                            string placas = vehicC.Vehiculos.Matricula;
                                                                <td>
                                                                    @Html.Label(placas)
                                                                </td>
                                                        }
                                                        else
                                                        {
                                                                <td>
                                                                    @Html.Label("Sin Asignar")
                                                                </td>
                                                        }
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Flotas.Nombre)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Flotas.Afiliados.Nombre)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Seleccionar", "SelUni", "Home", new { idc = item.ID_Conductor > 0 ? item.ID_Conductor : 0 }, new { @class = "btn-success" })
                                                        </td>
                                                    </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="row">
                    @if (ViewBag.actselect == null)
                    {
                            <div class="col-lg-6 form-group has-error" style="margin-left:25px;">
                                <label class="form-control" placeholder="Conductor / Unidad" />
                            </div>
                    }
                    else
                    {
                            <div class="col-lg-6 form-group has-success" style="margin-left:25px;">
                                @if (Session["vOc"].ToString() == "c")
                                {
                                    <label class="form-control"><span class="glyphicon glyphicon-user color-teal">  @Session["selid"].ToString()</span></label>
                                }
                                else
                                {
                                    <label class="form-control"><span class="glyphicon glyphicon-road color-blue">  @Session["selid"].ToString()</span></label>
                                }
                            </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-3 form-group" style="margin-left:25px;">                        
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="FechaInicio" name="FechaInicio" placeholder="Fecha y Hora Inicial"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>                        
                    </div>
                    <div class="col-lg-3 form-group ">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="FechaFin" name="FechaFin" placeholder="Fecha y Hora Final" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>            
                        
                    </div>
                </div>
                @if (!(ViewBag.actselect == null))
                {
                    <div class="row">
                        <div class="col-lg-3 form-group" style="margin-left:25px;">                       
                            @Html.ActionLink("Procesar", "TrazaRuta", "Home", new { h = ViewBag.selID }, new { @class = "form-control btn btn-sm btn-success", @id="btnProcesar", @name="btnProcesar" })                        
                        </div>
                    </div>
                }
            </div>
            <div class="@(@ViewBag.tab != 1 ? "hide" : "form-group")" style="margin-left:25px;margin-right:25px;overflow-x:hidden;" >
                    <div class="panel panel-default">
                        <div class="panel-body tabs">
                            <ul class="nav nav-pills">
                                
                                @if (ViewBag.tab == 1)
                                {                                   
                                    <li class="active"><a href="#ubicaciones" data-toggle="tab"><label>Ubicaciones (@Model.trazaRutaListas.ubicaciones.Count())</label></a></li>
                                    <li><a href="#seguimientos" data-toggle="tab"><label>Seguimientos (@Model.trazaRutaListas.seguimientos_Despacho.Count())</label></a></li>
                                }
                                else
                                {
                                    <li class="active"><a href="#ubicaciones" data-toggle="tab">Ubicaciones</a></li>
                                    <li><a href="#seguimientos" data-toggle="tab">Seguimientos</a></li>
                                }                                
                            </ul>
                            <div class="tab-content">                              
                                <div class="tab-pane fade" id="ubicaciones">
                                    <table class="table table-striped table-hover" data-toggle="table" data-pagination="false" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="false" data-select-item-name="toolbar1">
                                        <thead>
                                            <tr>
                                                <th data-field="Fecha" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("Fecha")
                                                </th>
                                                <th data-field="Estatus" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("Estatus")
                                                </th>
                                                <th data-field="NoUbicaciones" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("No. Ubicaciones")
                                                </th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        @if (ViewBag.tab == 1)
                                        {
                                            foreach (var item in Model.trazaRutaListas.ubicaciones)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Fecha_Ubicacion)
                                                    </td>
                                                    <td>
                                                        @Html.Label(item.Estatus == 1 ? "Libre" : item.Estatus == 4 ? "Ausente" : "Asignado")
                                                    </td>
                                                    <td>
                                                        @Model.trazaRutaListas.ubicaciones.Count()
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Ver en Mapa", "VerMapa", "Home", null, new { @class = "btn-success" })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="seguimientos">
                                    <table class="table table-striped table-hover" data-toggle="table" data-pagination="false" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="false" data-select-item-name="toolbar1">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th data-field="Fecha" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("Fecha")
                                                </th>
                                                <th data-field="Origen" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("Origen")
                                                </th>
                                                <th data-field="Destino" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("Destino")
                                                </th>
                                                <th data-field="step" data-sortable="true" data-sorter="customSorter">
                                                    @Html.Label("Calificación")
                                                </th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        @if (ViewBag.tab == 1)
                                        {
                                            foreach (var item in Model.trazaRutaListas.seguimientos_Despacho)
                                            {
                                                <tr>
                                                    <td>
                                                        @Model.trazaRutaListas.despachos.Where(d => d.ID_Despacho == item.ID_Despacho).FirstOrDefault().Fecha_Domicilio
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Inicio)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Fin)
                                                    </td>
                                                    <td>
                                                        @Model.trazaRutaListas.despachos.Where(d => d.ID_Despacho == item.ID_Despacho).FirstOrDefault().Encuesta
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Ver en Mapa", "VerMapa", "Home", null, new { @class = "btn-success" })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!--/.panel-->
                
            </div>
}
    </div>
</div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    <script src="~/js/ActualizarSegTiposVehiculosList.js"></script>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                    <script type="text/javascript">
        

        
        function ObtenerEstatusRuta(id_afiliado) {
            $.getJSON('/Home/GetRutasEstatus/', { ID_Afiliado: id_afiliado }, function (result) {
                if (result != null) {
                    var str = "<h4>Guías</h4>";
                    for (var key in result) {
                        str = str + "<div><img src='" + result[key] + "' />" + key.toUpperCase() + "</div>";
                    }

                    $("#state-legend").html(str);
                    $("#state-legend").show();
                }
                else
                    $("#state-legend").hide();
            });
        }

       




                    </script>
                    
                }
